<hr>
<div class="text"><p>
    Ariana Grande-Butera (born June 26, 1993) is an American singer, songwriter, and actress. Her four-octave vocal range has received public acclaim, and her personal life has been the subject of widespread media attention. She has received numerous accolades throughout her career, including two Grammy Awards, one Brit Award, one Bambi Award, two Billboard Music Awards, three American Music Awards, nine MTV Video Music Awards, and 26 Guinness World Records.
</p></div>
<hr>
<br>
<div class="icons">
    <a href="https://www.instagram.com/arianagrande/?hl=es"><i class='bx bxl-instagram-alt' style='color:#ffffff'></i></a>
    <a href="https://web.facebook.com/arianagrande?_rdc=1&_rdr"><i class='bx bxl-facebook-circle' style='color:#ffffff'></i></a>
    <a href="https://twitter.com/agrandesp?lang=es"><i class='bx bxl-twitter' style='color:#ffffff' ></i></a>
</div>

